
$color-primary: #C0A4A5; //淺粉紅
$color-secondary: #907A7B; //深粉紅
$color-light: #F5F0E7; //淺黃
$color-dark: #707070; //深灰

$font-family: source-han-sans-traditional , Arial , sans-serif;


// Small devices (landscape phones, less than 768px)
$tablet-width: 768px;

// Extra small devices (portrait phones, less than 414px)
$phone-width: 414px;

