html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: block;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.text-primary {
  color: #C0A4A5; }

.text-secondary {
  color: #907A7B; }

.text-center {
  text-align: center; }

.fw-light {
  font-weight: 200; }

.fw-regular {
  font-weight: 300; }

.fw-medium {
  font-weight: 500; }

.m-auto {
  margin: auto; }

.overflow-hidden {
  overflow: hidden; }

.auto-height {
  height: 100%; }

.d-none {
  display: none !important; }

.d-block {
  display: block; }

.inline-block {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

body {
  font-family: source-han-sans-traditional, Arial, sans-serif; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 414px) {
    .container {
      max-width: 345px; } }

.title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4px;
  color: #907A7B; }

.subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 32px;
  color: #C0A4A5; }

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  min-width: 112px;
  height: 46px; }

.btn-primary {
  color: #fff;
  background-color: #C0A4A5; }
  .btn-primary:hover {
    background-color: #907A7B; }

.btn-light {
  color: #707070;
  background-color: #F5F0E7; }
  .btn-light:hover {
    color: #fff;
    background-color: #C0A4A5; }

.btn-arrow {
  color: #907A7B;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid transparent; }
  .btn-arrow::after {
    font-family: "Material Icons";
    content: "\e941";
    margin-left: 8px;
    font-size: 24px; }
  .btn-arrow:hover {
    color: #C0A4A5; }

header {
  background-color: #F5F0E7;
  padding: 20px 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
    z-index: 9999; }
    @media (max-width: 768px) {
      header nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        position: absolute;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #907A7B;
        top: 70px;
        padding-top: 30px;
        left: -100%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        font-size: 20px; } }

header nav.active {
  left: 0; }

.logo a {
  font-family: Silom;
  font-size: 24px;
  color: #C0A4A5; }

header nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    header nav ul {
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

header nav ul li a {
  padding: 8px 16px;
  color: #707070;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media (max-width: 768px) {
    header nav ul li a {
      color: #fff;
      margin-bottom: 16px; } }
  header nav ul li a:hover {
    color: #C0A4A5; }

.menu-toggle {
  display: none;
  color: #C0A4A5;
  float: right;
  line-height: 50px;
  cursor: pointer; }
  @media (max-width: 768px) {
    .menu-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .menu-toggle .material-icons {
    font-size: 33px; }

header .topLink li a {
  color: #907A7B;
  border: 1px solid #907A7B;
  border-radius: 16px;
  margin: 0 8px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  header .topLink li a:hover {
    background-color: #907A7B;
    color: #fff; }
  @media (max-width: 768px) {
    header .topLink li a {
      color: #fff;
      margin-bottom: 16px;
      border: 1px solid #fff;
      margin: 8px 20%; }
      header .topLink li a:hover {
        background-color: #fff;
        color: #907A7B; } }

footer {
  padding: 32px 0;
  background-color: #907A7B; }
  footer a {
    color: #fff; }

.footerTop {
  border-bottom: 1px solid #fff;
  padding-bottom: 32px;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .footerTop {
      padding-bottom: 24px; } }

.subscribe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 768px) {
    .subscribe {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .subscribe .input-group {
    background-color: #fff;
    border-radius: 4px;
    height: 45px;
    width: 350px; }
    @media (max-width: 768px) {
      .subscribe .input-group {
        margin-top: 8px; } }
  .subscribe p {
    font-size: 28px; }
    @media (max-width: 414px) {
      .subscribe p {
        font-size: 24px; } }
  .subscribe input {
    height: 44px;
    width: 278px;
    padding: 0px 16px;
    font-size: 20px;
    color: #907A7B;
    border: 0;
    outline-color: #907A7B;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .subscribe input::-webkit-input-placeholder {
      color: #907A7B; }
    .subscribe input::-moz-placeholder {
      color: #907A7B; }
    .subscribe input:-ms-input-placeholder {
      color: #907A7B; }
    .subscribe input::-ms-input-placeholder {
      color: #907A7B; }
    .subscribe input::placeholder {
      color: #907A7B; }
  .subscribe button {
    height: 45px;
    cursor: pointer;
    padding: 8px 16px;
    border: 0;
    font-size: 20px;
    color: #fff;
    background-color: #C0A4A5;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right; }

.footerLogo a {
  color: #fff;
  margin-bottom: 8px; }

.footerNav li a {
  margin-bottom: 8px; }
  .footerNav li a:hover {
    color: #C0A4A5; }

.social img {
  width: 24px;
  margin-left: 8px; }

.footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media (max-width: 414px) {
    .footerBottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.contact {
  position: fixed;
  z-index: 9000;
  right: 16px;
  top: 50%; }
  .contact li {
    margin-bottom: 8px; }

.banner {
  background: url(../images/banner.jpg) no-repeat center center;
  background-size: cover;
  background-position: 50% 100%;
  height: 582px;
  color: #707070;
  text-align: left; }
  .banner h1 {
    font-size: 36px; }
    @media (max-width: 414px) {
      .banner h1 {
        font-size: 28px; } }
  .banner h2 {
    font-size: 24px;
    max-width: 445px; }
    @media (max-width: 414px) {
      .banner h2 {
        font-size: 20px; } }
  .banner .content {
    padding-left: 95px; }
    @media (max-width: 768px) {
      .banner .content {
        padding-left: 30px; } }
    @media (max-width: 414px) {
      .banner .content {
        padding-left: 0px; } }
  .banner .btn {
    margin-top: 16px;
    margin-right: 8px; }

.service {
  padding: 40px 0 64px 0; }
  @media (max-width: 768px) {
    .service {
      padding: 32px 0 48px 0; } }
  .service ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 414px) {
      .service ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .service ul li {
    max-width: 350px;
    text-align: left;
    position: relative; }
    @media (max-width: 768px) {
      .service ul li {
        max-width: 210px;
        min-height: 252px; } }
    @media (max-width: 414px) {
      .service ul li {
        min-width: 100%;
        margin-bottom: 16px; } }
    .service ul li img {
      border-radius: 16px;
      width: 350px;
      min-height: 420px;
      -o-object-fit: cover;
         object-fit: cover; }
      @media (max-width: 768px) {
        .service ul li img {
          min-height: 252px; } }
      @media (max-width: 414px) {
        .service ul li img {
          min-height: 420px; } }
    .service ul li .content {
      position: absolute;
      bottom: 0px;
      color: #fff;
      padding: 24px; }
      @media (max-width: 768px) {
        .service ul li .content {
          padding: 16px; } }
    .service ul li h2 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 4px; }
      @media (max-width: 768px) {
        .service ul li h2 {
          font-size: 16px; } }
      @media (max-width: 414px) {
        .service ul li h2 {
          font-size: 20px; } }

.teacher {
  background: #F5F0E7;
  padding: 64px 0; }
  @media (max-width: 768px) {
    .teacher {
      padding: 32px 0; } }

.teacherStart {
  width: 50%;
  margin-right: 15px; }
  .teacherStart img {
    min-width: 540px;
    max-height: 628px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px; }
  @media (max-width: 768px) {
    .teacherStart {
      display: none; } }

.teacherEnd {
  width: 50%;
  margin-left: 15px;
  padding-top: 30px;
  color: #707070; }
  .teacherEnd a {
    color: #707070; }
  .teacherEnd li {
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 16px; }
    .teacherEnd li img {
      margin-right: 20px; }
      @media (max-width: 414px) {
        .teacherEnd li img {
          max-width: 48px; } }
  @media (max-width: 768px) {
    .teacherEnd {
      margin-left: 0px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.tabs .current {
  min-width: 635px;
  margin-left: -75px;
  padding: 40px; }
  @media (max-width: 414px) {
    .tabs .current {
      min-width: 100%;
      margin-left: 0px; } }

.tab-content {
  display: none; }

.tab-content.current {
  display: block; }

.space {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .space {
      padding: 32px 30px; } }
  @media (max-width: 414px) {
    .space {
      display: block;
      padding: 32px 15px; } }

.spaceEnd {
  width: 50%;
  margin-right: 15px; }
  .spaceEnd img {
    border-radius: 16px; }
  @media (max-width: 414px) {
    .spaceEnd {
      width: 100%;
      margin-top: 16px; } }

.first {
  width: calc(100%/6*4);
  text-align: center; }
  @media (max-width: 414px) {
    .first {
      width: 50%; } }
  .first img {
    height: 444px;
    width: 350px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 768px) {
      .first img {
        width: 210px;
        height: 266px; } }
    @media (max-width: 414px) {
      .first img {
        width: calc(100% - 15px);
        height: 210px; } }

.last {
  width: calc(100%/6*2);
  text-align: center; }
  @media (max-width: 414px) {
    .last {
      width: 50%; } }
  .last img {
    height: 207px;
    width: 160px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 768px) {
      .last img {
        width: 90px;
        height: 117px; } }
    @media (max-width: 414px) {
      .last img {
        width: calc(100% - 15px);
        height: 210px; } }
  .last img:nth-child(2) {
    margin-top: 30px; }
    @media (max-width: 768px) {
      .last img:nth-child(2) {
        margin-top: 32px; } }
    @media (max-width: 414px) {
      .last img:nth-child(2) {
        display: none; } }

.spaceStart {
  width: 50%;
  margin-left: 15px; }
  @media (max-width: 414px) {
    .spaceStart {
      width: 100%;
      margin-left: 0px; } }

.course {
  background-color: #F5F0E7;
  padding: 64px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 414px) {
    .course {
      display: block;
      padding: 32px 15px; } }

.courseStart {
  width: 50%;
  max-width: 520px;
  margin-right: 15px; }
  @media (max-width: 768px) {
    .courseStart {
      max-width: 330px; } }
  @media (max-width: 414px) {
    .courseStart {
      margin: 0 auto;
      min-width: 345px; } }

.courseEnd {
  width: 50%;
  margin-left: 15px; }
  @media (max-width: 414px) {
    .courseEnd {
      width: 100%;
      margin-top: 16px;
      margin-left: 0px; } }

.swiper-slide {
  overflow: hidden; }
  .swiper-slide img {
    width: 445px;
    height: 445px;
    border-radius: 16px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 768px) {
      .swiper-slide img {
        width: 150px;
        height: 150px; } }
    @media (max-width: 414px) {
      .swiper-slide img {
        width: 165px;
        height: 165px; } }

.price {
  padding: 64px 0; }
  .price li {
    width: calc((100% - 60px)/3);
    border: 1px solid #C0A4A5;
    border-radius: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .price li img {
      border-radius: 16px 16px 0 0;
      width: 100%;
      height: 243px;
      -o-object-fit: cover;
         object-fit: cover; }
      @media (max-width: 768px) {
        .price li img {
          width: 345px;
          height: auto;
          border-radius: 16px 0px 0 16px; } }
      @media (max-width: 414px) {
        .price li img {
          border-radius: 16px 16px 0 0;
          width: 100%; } }
    @media (max-width: 768px) {
      .price li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        margin-bottom: 24px; } }
    @media (max-width: 414px) {
      .price li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.card {
  padding: 24px;
  position: relative;
  font-weight: 300; }
  .card h2 {
    font-size: 20px;
    color: #907A7B;
    margin-bottom: 4px; }
  .card h3 {
    font-size: 20px;
    color: #C0A4A5;
    margin-bottom: 8px; }
  .card p {
    color: #907A7B;
    margin-bottom: 48px; }
    @media (max-width: 768px) {
      .card p {
        margin-bottom: 24px; } }
  .card button {
    background-color: #C0A4A5;
    color: #fff;
    width: 100%; }
    .card button:hover {
      background-color: #907A7B; }

.recommend {
  background-color: #F5F0E7;
  padding: 64px 0; }

.mySwiper {
  margin-top: 32px;
  overflow-x: hidden;
  color: #907A7B;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .mySwiper .swiper-wrapper {
    width: 100%; }
  .mySwiper .swiper-slide {
    margin-top: 16px;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .mySwiper img {
    width: 60px;
    height: auto;
    margin-right: 20px; }
  .mySwiper h2 span {
    font-size: 14px;
    margin-left: 8px; }
  .mySwiper h3 span {
    color: #C0A4A5;
    font-size: 20px; }
  .mySwiper .main {
    text-align: left; }

/*# sourceMappingURL=all.css.map */
